<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="dfi.ZPM">
    <Module>
      <Name>dfi</Name>
      <Version>1.0.0</Version>
      <Description>load dfi for analytics</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="ZX.PKG"/>
	  
    </Module>
  </Document>
</Export>
